﻿/* unvisited link */
a:link {
    color: darkgray;
}

/* visited link */
a:visited {
    color: darkgrey;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: none;
}

/* selected link */
a:active {
    color: lightgray;
}

/* body */

html, body {
    position: relative;
    height: 100%;
}


/* navbar */

/* change the background color */
.navbar-custom {
    background-color: white;
}
    /* change the brand and text color */
    .navbar-custom .navbar-brand {
        color: black;
    }

        .navbar-custom .navbar-brand:hover .navbar-brand:focus {
            color: darkred;
        }

    .navbar-custom .navbar-text {
        color: black;
    }
    /* change the link color */
    .navbar-custom .navbar-nav .nav-link {
        color:black;
    }
    /* change the color of active or hovered links */
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:focus .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        color: darkred;
    }


/* www.amcharts.com/demos/variable-height-3d-pie-chart */

#chartdiv {
    width: 100%;
    height: 500px;
}

/* pagination */

.pagination .page-item.active .page-link {
    background-color: #000;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
    background-color: #000;
}

.pagination .page-item.active .page-link:hover {
    background-color: #000;
}

/* DataTable */
.dt-center {
    text-align: center;
}
th.dt-center, td.dt-center {
    text-align: center;
}
