﻿@model IEnumerable<BloodDonation.ViewModels.DonorViewModel>
@{
    ViewData["Title"] = "Donors";
}

<div class="container fluid">
    @*<img src="~/images/bloodbags.jpg" class="w-100"/>*@
    <img src="~/images/krwiodawcy.jpg" class="img-fluid w-100 mb-5" />
    <div class="row">
        <div class="col-12 text-center">

        </div>
        <div class="offset-2 col-8">
            <h1 class="text-center"><span><i class="fas fa-percent mr-3 fa-sm" style=""></i></span>Grupa Krwi</h1>
            <br /><br />
            <div><canvas id="barChart"></canvas></div>
            @{ChartJSCore.Models.Chart chart = (ChartJSCore.Models.Chart)ViewData["chart"]; }
            @*<canvas id="horizontalBar"></canvas>*@
            <br /> <br /> <br />
        </div>

        @*<canvas id="doughnutChart"></canvas>*@
        <div class="offset-2 col-8">
            <h1 class="text-center"><span><i class="fas fa-medal mr-3 fa-sm" style=""></i></span>Honory</h1>

        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class=" col-5 offset-1">
            <div class="media">
                <img class="d-flex ml-3 mr-3" style="height:125px;" src="~/images/Zasluzony_Honorowy_Dawca_Krwi_I.png" alt="Generic placeholder image ">
                <div class="media-body">
                    <h5 class="mt-0 mb-1 font-weight-bold">Zasłużony Honorowy Dawca Krwi I</h5>
                    <p></p>
                    <p>
                        Przysługuje
                        kobiecie, która oddała w dowolnym okresie co najmniej 5 litrów krwi,
                        mężczyźnie, który oddała w dowolnym okresie co najmniej 6 litrów.
                    </p>
                    <p><br /></p>
                </div>
            </div>
        </div>
        <div class=" col-5">
            <div class="media">
                <img class="d-flex ml-3 mr-3" style="height:125px;" src="~/images/Zasluzony_Honorowy_Dawca_Krwi_II.png" alt="Generic placeholder image ">
                <div class="media-body">
                    <h5 class="mt-0 mb-1 font-weight-bold">Zasłużony Honorowy Dawca Krwi II</h5>
                    <p></p>
                    <p>
                        Przysługuje
                        kobiecie, która oddała w dowolnym okresie co najmniej 10 litrów krwi,
                        mężczyźnie, który oddał w dowolnym okresie co najmniej 12 litrów krwi.
                    </p>
                    <p><br /></p>
                </div>
            </div>
        </div>
        <div class=" col-5 offset-1">
            <div class="media">
                <img class="d-flex ml-3 mr-3" style="height:125px;" src="~/images/Zasluzony_Honorowy_Dawca_Krwi_III.png" alt="Generic placeholder image ">
                <div class="media-body">
                    <h5 class="mt-0 mb-1 font-weight-bold">Zasłużony Honorowy Dawca Krwi III</h5>
                    <p></p>
                    <p>
                        Przysługuje
                        kobiecie, która oddała w dowolnym okresie co najmniej 15 litrów krwi,
                        mężczyźnie, który oddał w dowolnym okresie co najmniej 18 litrów krwi.
                    </p>
                    <p><br /></p>
                </div>
            </div>
        </div>
        <div class=" col-5">
            <div class="media">
                <img class="d-flex ml-3 mr-3" style="height:125px;" src="~/images/Zasluzony_Dla_zdrowia_narodu.png" alt="Generic placeholder image ">
                <div class="media-body">
                    <h5 class="mt-0 mb-1 font-weight-bold">Zasłużony dla Zdrowia Narodu</h5>
                    <p></p>
                    <p>
                        Przysługuje Zasłużonemu Honorowemu Dawcy Krwi, który oddał co najmniej 20 litrów krwi.
                    </p>
                    <p><br /></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container fluid mt-2">
    <div class="row">
        <div class="offset-2 col-8">
            <h1 class="text-center"><span><i class="fas fa-user-circle mr-3 fa-sm" style=""></i></span>Krwiodawcy</h1>
        </div>
    </div>
</div>
<br /><br />

<div class="container-fluid">
    <table class="table" id="donors">
        <thead>
            <tr>
                <th>
                    Honory
                </th>

                <th>
                    Dawca
                </th>
                <th>
                    Miasto
                </th>
                <th>
                    Grupa krwi
                </th>
                <th>
                    Oddana krew [ml]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{
                            if (item.BloodAmount > 6000 && item.BloodAmount < 12000)
                            {
                                <img class="d-flex ml-3 mr-3" style="height:45px;" src="~/images/Zasluzony_Honorowy_Dawca_Krwi_I.png" />
                            }
                            else if (item.BloodAmount > 12000 && item.BloodAmount < 18000)
                            {
                                <img class="d-flex ml-3 mr-3" style="height:45px;" src="~/images/Zasluzony_Honorowy_Dawca_Krwi_II.png" />
                            }
                            else if (item.BloodAmount > 18000 && item.BloodAmount < 20000)
                            {
                                <img class="d-flex ml-3 mr-3" style="height:45px;" src="~/images/Zasluzony_Honorowy_Dawca_Krwi_III.png" />
                            }
                            else if (item.BloodAmount > 20000 )
                            {
                                <img class="d-flex ml-3 mr-3" style="height:45px;" src="~/images/Zasluzony_Dla_zdrowia_narodu.png" />
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BloodType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BloodAmount)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



@section Scripts {
    <script src="~/lib/Chart.js/dist/Chart.js"></script>
    <script>
        @Html.Raw(chart.CreateChartCode("barChart"));
    </script>
}