﻿@model BloodDonation.ViewModels.LoadViewModel

@{
    ViewData["Title"] = "Load Donors";
}

<br /><br />

<h2>Dodaj pliki</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Load" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="CsvFiles" class="control-label"></label>*@
                <input asp-for="CsvFiles" id="fileToUpload" type="file" onChange="readURL(this)" class="filestyle" data-badge="true" data-placeholder="*.csv" data-buttonBefore="true" data-btnClass="btn-outline-dark" data-text="Dodaj" multiple>
                <span asp-validation-for="CsvFiles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" name="load" value="Load" class="btn btn-dark" style="margin-top: 15px" />
            </div>
            <br />
        </form>
    </div>
</div>

@if (ViewBag.error != null)
{
    <div class="alert alert-danger">

        @foreach (string item in ViewBag.error)
        {
            @item <br />
        }

    </div>
}

@if (ViewBag.succes != null)
{
    <div class="alert alert-success">
        @foreach (string item in ViewBag.succes)
        {
            @item <br />
        }
    </div>

}

<div>
    <a asp-action="Index">Wróć do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
